.hotel-overview-container {
  display: flex;
}
mat-form-field > .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 15%;
  cursor: pointer;
}
