<h2 mat-dialog-title>Skonfiguruj swój ośrodek</h2>
<mat-card class="hotel-overview-container">
  <form style="width: 80%">
    <mat-form-field appearance="outline" class="mat-form-field__clear_padding">
      <mat-label>Nazwa hotelu</mat-label>
      <input
        id="name"
        autocomplete="off"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="none"
        name="name"
        type="text"
        matInput
      />
    </mat-form-field>
  </form>
  <mat-card-subtitle
    class="counter"
    [matTooltip]="facilityNamesAsString"
    matTooltipPosition="right"
  >
    <i class="fas fa-home card-icon"></i>x
    {{ _facilityConfiguration.facilities.length }}
  </mat-card-subtitle>
</mat-card>

<mat-card style="margin-top: 15px">
  <mat-card-header>
    <mat-card-title>+ Dodaj nowy pokój</mat-card-title>
  </mat-card-header>
  <facility-form
    [formConfig]="facilityFormConfig"
    [formGroup]="facilityFormGroup"
  ></facility-form>
  <button-group [config]="facilityButtonConfig"></button-group>
</mat-card>
<mat-dialog-actions>
  <button-group [config]="dialogButtonConfig"></button-group>
</mat-dialog-actions>
