<div class="backgroud-gradient__theme1 relative">
  <div class="center-content-container medium-size-container">
    <div class="logo-container height__10_percent">
      <img src="../../../../../assets/logo_black.png" alt="" srcset="" />
    </div>
    <mat-stepper class="width__80_percent" [linear]="false">
      <mat-step>
        <ng-template matStepLabel>Dane osobowe</ng-template>
        <facilities-overview class="form_container"></facilities-overview>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Dane obiektu</ng-template>
        <company-data-form class="form_container"></company-data-form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Konfiguracja obiektu</ng-template>
        <user-data-form class="form_container"></user-data-form>
      </mat-step>
    </mat-stepper>
    <div class="width__80_percent">
      <button-group [config]="getButtonGroupConfig()"></button-group>
    </div>
  </div>
</div>
