<div class="backgroud-gradient__theme1 relative">
  <div class="center-content-container medium-size-container">
    <div class="logo-container height__10_percent">
      <img src="../../../../../assets/logo_black.png" alt="" srcset="" />
    </div>
    <mat-stepper class="width__80_percent" [linear]="false">
      <mat-step>
        <ng-template matStepLabel>Dane osobowe</ng-template>
        <user-data-form
          [data]="userDataFormGroup"
          (isValid)="isUserDataFormValid($event)"
          class="form_container"
        ></user-data-form>
        <div class="button-container">
          <button mat-button matStepperNext mat-raised-button color="primary">
            Dalej
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Konfiguracja obiektu</ng-template>
        <facilities-overview class="form_container"></facilities-overview>
        <div class="button-container">
          <button
            mat-button
            matStepperPrevious
            mat-raised-button
            color="accent"
          >
            Cofnij
          </button>
          <button mat-button matStepperNext mat-raised-button color="primary">
            Dalej
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Regulamin</ng-template>
        <company-data-form class="form_container"></company-data-form>
        <div class="button-container">
          <button
            mat-button
            matStepperPrevious
            mat-raised-button
            color="accent"
          >
            Cofnij
          </button>
          <button mat-button matStepperNext mat-raised-button color="primary">
            Dalej
          </button>
          <button
            (click)="activate()"
            mat-button
            mat-raised-button
            color="success"
          >
            Zapisz
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
