<div class="container">
    <h4>Informacje ogólne</h4>
    <div class="data-container">
        <div class="element"><label class="font-weight-bold">Termin: </label><p>{{ serviceResponse.startOfBooking }}</p></div>
        <div class="element"><label class="font-weight-bold">Nazwa obiektu: </label><p>Domek zbójnika</p></div>
        <div class="element"><label class="font-weight-bold">Liczba noclegów: </label><p>6</p></div>
        <div class="element"><label class="font-weight-bold">Liczba osób: </label><p>4</p></div>
        <div class="element full-width"><label class="font-weight-bold">Uwagi: </label><p>dsa</p></div>
    </div>  
    <h4>Wynajmujący</h4>
    <div class="data-container">
        <div class="element"><label class="font-weight-bold">Imię i nazwisko:</label><p>ads</p></div>
        <div class="element"><label class="font-weight-bold">Nr telefonu:</label><p>ads</p></div>
        <div class="element"><label class="font-weight-bold">Adres e-mail:</label><p>dsa</p></div>
        <div class="element"><label class="font-weight-bold">Uwagi gościa: </label><p>dsa</p></div>
    </div>
    <h4>Płatność</h4>
    <div class="data-container">
        <div class="element"><label class="font-weight-bold">Pozostało do zapłaty: </label><p>asd</p></div>
        <div class="element"><label class="font-weight-bold">Cena za noc:</label><p>ds</p></div>
        <div class="element"><label class="font-weight-bold">Wysokość zaliczki: </label><p>dsa</p></div>
        <div class="element"><label class="font-weight-bold">Kod płatności:</label><p>dsa</p></div>
    </div>
</div>