h4 {
  text-align: center;
  padding: 20px;
  margin: 0;
  color: #072f27;
}
label {
  color: #107662;
  margin: 2px;
}
p {
  margin: 2px;
  margin-left: 20px;
}
.container {
  width: 60vw;
  background-color: #f8f9fa;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: solid #1abc9c 3px;
}
.data-container {
  border-top: 1px solid #1abc9c;
  border-bottom: 1px solid #1abc9c;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.data-container:nth-last-of-type(1) {
  border-bottom: none;
}
.element {
  width: 50%;
}
.full-width {
  width: 100%;
}
