.transition_300_ms {
  transition: 300ms ease;
}

.margin {
  &_top {
    &__30px {
      margin-top: 30px;
    }
  }
}

.width {
  &__40_percent {
    width: 40% !important;
  }
  &__60_percent {
    width: 60% !important;
  }
  &__80_percent {
    width: 80% !important;
  }
  &__80_wv {
    width: 80vw !important;
  }
}

.height {
  &__10_percent {
    height: 10% !important;
  }
  &__15_percent {
    height: 15% !important;
  }
  &__20_percent {
    height: 20% !important;
  }
  &__100_percent {
    height: 100% !important;
  }
  &__80vh {
    height: 80vh !important;
  }
}

.backgroud_image__base {
  background-image: url("../../../app/modules/login/assets/background.png");
}
