<div class="calendar-days-container" (wheel)="rewind($event)">
  <header class="calendar-days-header">
    <div class="day-name-container">Poniedziałek</div>
    <div class="day-name-container">Wtorek</div>
    <div class="day-name-container">Środa</div>
    <div class="day-name-container">Czwartek</div>
    <div class="day-name-container">Piątek</div>
    <div class="day-name-container">Sobota</div>
    <div class="day-name-container">Niedziela</div>
  </header>
  <div
    class="calendar-day-square"
    [ngClass]="{
      dark: day.displayDark,
      selected: isInRange(i)
    }"
    *ngFor="let day of displayedDays; let i = index"
    (mouseenter)="onMouseEnter(i)"
    (mousedown)="startListening(i)"
    (mouseup)="stopListening()"
  >
    <h3 class="text-align__left noselect">
      <span class="bold">{{ day.day }} </span
      ><span class="small">{{ day.month }}</span>
    </h3>
  </div>
</div>
