<div class="content_container">
  <h1>Zaloguj się</h1>
  <div class="form_container">
    <form>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input
            id="login"
            autocomplete="off"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="none"
            name="login"
            type="text"
            matInput
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Hasło</mat-label>
          <input
            id="password"
            autocomplete="off"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="none"
            name="password"
            type="password"
            matInput
          />
        </mat-form-field>
      </p>

      <section>
        <mat-checkbox [color]="'primary'" class="example-margin"
          >Zapamiętaj mnie</mat-checkbox
        >
      </section>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="btn center-horizontal-relative"
      >
        Zaloguj
      </button>
    </form>
    <div class="new_accout_info">
      <span>Nie masz jeszcze konta?</span
      ><a (click)="toggleForm()"> Zarejestruj się!</a>
    </div>
  </div>
</div>
