<mat-drawer-container class="main-page-container" autosize>
  <mat-drawer #drawer class="main-sidenav" mode="side">
    <main-sidenav></main-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-sidenav-content">
      <button
        mat-mini-fab
        color="sidenav-btn"
        (click)="openSidenav(drawer)"
        class="btn__open-sidenav"
      >
        <i class="fas fa-bars"></i>
      </button>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
