<div class="center-content-container">
  <div class="logo-container height__10_percent">
    <img src="../../../../../assets/logo_black.png" alt="" srcset="" />
  </div>
  <div class="form_container width__80_percent margin_top__30px">
    <form>
      <div class="form-group">
        <label>Imię:</label>
        <input
          type="text"
          class="form-control"
          id="login"
          aria-describedby="loginHelp"
          placeholder="Login"
        />
      </div>
      <div class="form-group">
        <label for="password">Nazwisko:</label>
        <input
          type="text"
          class="form-control"
          id="password"
          placeholder="Hasło"
        />
      </div>
      <div class="form-group">
        <label for="password">Miejscowość:</label>
        <input
          type="text"
          class="form-control"
          id="password"
          placeholder="Hasło"
        />
      </div>
      <div class="form-group">
        <label for="password">Nr domu:</label>
        <input
          type="text"
          class="form-control"
          id="password"
          placeholder="Hasło"
        />
      </div>
    </form>
  </div>
</div>
