<div class="sidenav-logo-container">
  <img src="../../../../../assets/logo_black.png" alt="" srcset="" />
</div>
<button
  routerLink="/home"
  routerLinkActive="main-sidenav-button-active"
  [routerLinkActiveOptions]="{ exact: true }"
  mat-raised-button
  color="sidenav-btn"
  class="selected btn__sidenav-btn"
>
  <i class="fas fa-home"></i> Strona główna
</button>
<button
  routerLink="/new-arrival"
  routerLinkActive="main-sidenav-button-active"
  mat-raised-button
  color="sidenav-btn"
  class="btn__sidenav-btn"
>
  <i class="fas fa-plus"></i> Nowy przyjazd
</button>
<button mat-raised-button color="sidenav-btn" class="btn__sidenav-btn">
  <i class="fas fa-calendar-alt"></i> Kalendarz
</button>
<button mat-raised-button color="sidenav-btn" class="btn__sidenav-btn">
  <i class="fas fa-search"></i> Wyszukaj
</button>
<button mat-raised-button color="sidenav-btn" class="btn__sidenav-btn">
  <i class="fas fa-wrench"></i> Konfiguracja obiektu
</button>
<button mat-raised-button color="sidenav-btn" class="btn__sidenav-btn">
  <i class="fas fa-envelope"></i> Powiadomienia
</button>
<button mat-raised-button color="sidenav-btn" class="btn__sidenav-btn">
  <i class="fas fa-users-cog"></i> Ustawienia konta
</button>
<button
  routerLink="/about"
  routerLinkActive="main-sidenav-button-active"
  mat-raised-button
  color="sidenav-btn"
  class="btn__sidenav-btn"
>
  <i class="fas fa-info-circle"></i> O aplikacji
</button>
