.btn {
  margin: 10px 0 !important;
  &__open-sidenav {
    position: absolute !important;
    left: 10px;
    top: 46px;
    z-index: 1;
  }
  &__sidenav-btn {
    width: 100%;
    font-weight: 300;
    margin: 3px 0 !important;
  }
  &__sidenav-btn:hover {
    transform: scale(1);
    background-color: #8ca1ae;
  }
  &-submit {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: $secondary-purple;
    border-color: $secondary-purple;
    color: $white;
  }
}
button {
  transition: 200ms;
}
button:hover {
  transform: scale(1.05);
}
