<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Regulamin</mat-card-title>
  </mat-card-header>
  <mat-card-content scrollEndDetect>
    <div
      scrollEndDetect
      (onScrollBottom)="onScrollBottom()"
      style="background-color: yellow"
      class="overflow-y__scroll max-height__35vh"
    >
      <p>
        <b>1. Lorem ipsum dolor sit</b> amet consectetur adipisicing elit.
        Veniam, laborum dicta. Numquam consectetur, blanditiis eaque totam
        corporis doloremque quibusdam magni minima officiis in, nisi voluptate
        earum, adipisci voluptatibus temporibus sint! Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Dignissimos totam officiis, nostrum
        itaque quam fuga veritatis aut odit sit eaque explicabo, magnam
        praesentium, molestiae accusantium soluta rerum libero pariatur
        cupiditate.
      </p>
      <p>
        <b>2. Lorem ipsum dolor sit</b> amet consectetur adipisicing elit.
        Veniam, laborum dicta. Numquam consectetur, blanditiis eaque totam
        corporis doloremque quibusdam magni minima officiis in, nisi voluptate
        earum, adipisci voluptatibus temporibus sint! Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Dignissimos totam officiis, nostrum
        itaque quam fuga veritatis aut odit sit eaque explicabo, magnam
        praesentium, molestiae accusantium soluta rerum libero pariatur
        cupiditate.
      </p>
      <p>
        <b>3. Lorem ipsum dolor sit</b> amet consectetur adipisicing elit.
        Veniam, laborum dicta. Numquam consectetur, blanditiis eaque totam
        corporis doloremque quibusdam magni minima officiis in, nisi voluptate
        earum, adipisci voluptatibus temporibus sint! Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Dignissimos totam officiis, nostrum
        itaque quam fuga veritatis aut odit sit eaque explicabo, magnam
        praesentium, molestiae accusantium soluta rerum libero pariatur
        cupiditate.
      </p>
      <p>
        <b>4. Lorem ipsum dolor sit</b> amet consectetur adipisicing elit.
        Veniam, laborum dicta. Numquam consectetur, blanditiis eaque totam
        corporis doloremque quibusdam magni minima officiis in, nisi voluptate
        earum, adipisci voluptatibus temporibus sint! Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Dignissimos totam officiis, nostrum
        itaque quam fuga veritatis aut odit sit eaque explicabo, magnam
        praesentium, molestiae accusantium soluta rerum libero pariatur
        cupiditate.
      </p>
      <p>
        <b>5. Lorem ipsum dolor sit</b> amet consectetur adipisicing elit.
        Veniam, laborum dicta. Numquam consectetur, blanditiis eaque totam
        corporis doloremque quibusdam magni minima officiis in, nisi voluptate
        earum, adipisci voluptatibus temporibus sint! Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Dignissimos totam officiis, nostrum
        itaque quam fuga veritatis aut odit sit eaque explicabo, magnam
        praesentium, molestiae accusantium soluta rerum libero pariatur
        cupiditate.
      </p>
      <p>
        <b>6. Lorem ipsum dolor sit</b> amet consectetur adipisicing elit.
        Veniam, laborum dicta. Numquam consectetur, blanditiis eaque totam
        corporis doloremque quibusdam magni minima officiis in, nisi voluptate
        earum, adipisci voluptatibus temporibus sint! Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Dignissimos totam officiis, nostrum
        itaque quam fuga veritatis aut odit sit eaque explicabo, magnam
        praesentium, molestiae accusantium soluta rerum libero pariatur
        cupiditate.
      </p>
      <p>
        <b>7. Lorem ipsum dolor sit</b> amet consectetur adipisicing elit.
        Veniam, laborum dicta. Numquam consectetur, blanditiis eaque totam
        corporis doloremque quibusdam magni minima officiis in, nisi voluptate
        earum, adipisci voluptatibus temporibus sint! Lorem ipsum, dolor sit
        amet consectetur adipisicing elit. Dignissimos totam officiis, nostrum
        itaque quam fuga veritatis aut odit sit eaque explicabo, magnam
        praesentium, molestiae accusantium soluta rerum libero pariatur
        cupiditate.
      </p>
    </div>
  </mat-card-content>
</mat-card>
