<form>
  <mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Nazwa</mat-label>
        <input
          id="name"
          autocomplete="off"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="none"
          name="name"
          type="text"
          matInput
        />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Cena</mat-label>
        <input
          id="name"
          autocomplete="off"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="none"
          name="name"
          type="text"
          class="field-type__currnecy"
          currency
          matInput
        />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>
