<div class="day-cards-container">
  <div class="day-card">
    <div class="content">
      <div class="content-container">
        <h2 class="header-day-number">
          27
          <span class="header-month">Styczeń 2023</span>
        </h2>
        <small class="day-of-week-name">Poniedziałek</small>
        <div class="info-container">
          <div class="arival-info-container">
            <mat-icon
              aria-hidden="false"
              aria-label="Przyjazdy"
              fontIcon="login"
            ></mat-icon>
            x4
          </div>
          <div class="arival-info-container">
            <mat-icon
              aria-hidden="false"
              aria-label="Wyjazdy"
              fontIcon="logout"
            ></mat-icon>
            x5
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="day-card"></div>
  <div class="day-card"></div>
  <div class="day-card"></div>
</div>
