<div class="day-cards-container">
  <div class="day-card" *ngFor="let day of _data">
    <div class="content">
      <div class="content-container">
        <h2 class="header-day-number">
          {{ day?.date?.getDate() }}
          <span class="header-month"
            >{{ day?.date?.getMonth() | monthToString }}
            {{ day?.date?.getFullYear() }}</span
          >
        </h2>
        <small class="day-of-week-name">{{
          day?.date?.getDay() | dayToString
        }}</small>
        <div class="info-container">
          <div class="arival-info-container">
            <mat-icon
              aria-hidden="false"
              aria-label="Przyjazdy"
              fontIcon="login"
            ></mat-icon>
            x{{ day?.arivalCount }}
          </div>
          <div class="arival-info-container">
            <mat-icon
              aria-hidden="false"
              aria-label="Wyjazdy"
              fontIcon="logout"
            ></mat-icon>
            x{{ day?.departureCount }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
