/* You can add global styles to this file, and also import other style files */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

h1{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
body {
  font-family: 'Lato', sans-serif;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "src/app/css/core.scss";
@import "src/app/css/buttons.scss";
@import "src/app/css/position.scss";
