<aside>
  <facilities></facilities>
</aside>
<div class="calendar">
  <div class="header">
    <li class="page-item">
      <a class="page-link" (click)='loadPreviousMonth()' aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <div class="month">
      <h2>{{ month }}</h2>
      <h4>{{ year }}</h4>
    </div>
    <li class="page-item">
      <a class="page-link" (click)='loadNextMonth()' aria-label="Next">
        <span aria-hidden="true" >&raquo;</span>
      </a>
    </li>
  </div>
  <div class="dayNames">
    <div class="dayName">MON</div>
    <div class="dayName">TUE</div>
    <div class="dayName">WED</div>
    <div class="dayName">THU</div>
    <div class="dayName">FRI</div>
    <div class="dayName">SAT</div>
    <div class="dayName">SUN</div>
  </div>
  <div class="days">
    <div *ngFor="let day of days" class="day">
      <span [ngClass]="{ 'otherMonth': !day.isCurrent() }">
        {{ day.getDay() }}
      </span>
    </div>
  </div>
</div>
