<mat-grid-list cols="3" rowHeight="19.8%">
  <mat-grid-tile [colspan]="2" [rowspan]="1" style="background-color: red">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar></mat-calendar>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="4">
    <week-overview class="component-container"></week-overview>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="3">4</mat-grid-tile>
</mat-grid-list>
