<div class="login_page_container">
  <div class="content_container">
    <welcome class="welcome_message_container"></welcome>
    <div class="content_scroller">
      <login-form
        class="form_container login_form_container"
        [class]="!loginVisible ? 'left__negative_100_pr' : ''"
        (toggle)="toggleForm()"
      >
      </login-form>
      <registation-form
        class="form_container registration_form_container"
        [class]="!loginVisible ? 'left__zero_pr' : ''"
        (toggle)="toggleForm()"
      ></registation-form>
    </div>
  </div>
</div>
