<form [formGroup]="formGroup">
  <mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label>Nazwa</mat-label>
        <input
          id="name"
          autocomplete="off"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="none"
          formControlName="name"
          type="text"
          matInput
        />
        <mat-error *ngIf="formGroup.get('name')?.invalid">
          {{ getMessageForNameControl() }}
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="80px">
    <mat-grid-tile colspan="2">
      <mat-form-field appearance="fill">
        <mat-label>Typ obiektu</mat-label>
        <mat-select formControlName="facilityType">
          <mat-option></mat-option>
          <mat-option
            *ngFor="let facilityType of formConfig.facilityTypes"
            [value]="facilityType.type"
            >{{ facilityType.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field appearance="fill">
        <mat-label>Cena</mat-label>
        <input
          id="name"
          autocomplete="off"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="none"
          formControlName="deafultPrice"
          type="text"
          class="field-type__currnecy"
          currency
          matInput
        />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="3" rowHeight="80px">
    <mat-grid-tile colspan="1">
      <mat-form-field appearance="fill">
        <mat-label>Maks. ilość miejsc</mat-label>
        <input
          id="places_count"
          min="0"
          step="1"
          formControlName="maxGuestCount"
          type="number"
          matInput
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field appearance="fill">
        <mat-label>Przyjazd</mat-label>
        <input
          id="arrival_hour"
          autocapitalize="none"
          formControlName="arrivalHour"
          type="time"
          matInput
        />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <mat-form-field appearance="fill">
        <mat-label>Wyjazd</mat-label>
        <input
          id="depature_hour"
          autocapitalize="none"
          formControlName="arrivalDeparture"
          type="time"
          matInput
        />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>
